/* RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* END RESET */

/* FONTS */
@font-face {
    font-family: 'roboto';
    src: url('../fonts/robotocondensed-regular-webfont.eot');
    src: url('../fonts/robotocondensed-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/robotocondensed-regular-webfont.woff2') format('woff2'),
         url('../fonts/robotocondensed-regular-webfont.woff') format('woff'),
         url('../fonts/robotocondensed-regular-webfont.ttf') format('truetype'),
         url('../fonts/robotocondensed-regular-webfont.svg#roboto_condensedregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'source_regular';
    src: url('../fonts/sourcesanspro-regular-webfont.eot');
    src: url('../fonts/sourcesanspro-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sourcesanspro-regular-webfont.woff2') format('woff2'),
         url('../fonts/sourcesanspro-regular-webfont.woff') format('woff'),
         url('../fonts/sourcesanspro-regular-webfont.ttf') format('truetype'),
         url('../fonts/sourcesanspro-regular-webfont.svg#source_sans_proregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'source_semibold';
    src: url('../fonts/sourcesanspro-semibold-webfont.eot');
    src: url('../fonts/sourcesanspro-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sourcesanspro-semibold-webfont.woff2') format('woff2'),
         url('../fonts/sourcesanspro-semibold-webfont.woff') format('woff'),
         url('../fonts/sourcesanspro-semibold-webfont.ttf') format('truetype'),
         url('../fonts/sourcesanspro-semibold-webfont.svg#source_sans_prosemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}
/* END FONTS */

/* GLOBAL */

.ir{
	display: block;
	text-indent: -9999px;
	overflow: hidden;
}

body{
	font-family: 'source_regular';
	background: #eee;
}
/* END GLOBAL */

/* HEADER */

header{
	width: 100%;
	background: url(../imgs/header-bg.png) #46ad50 no-repeat;
	height: 110px;
	padding-top: 40px;
	-webkit-box-shadow: inset 0px -10px 20px -10px rgba(0,0,0,0.4);
	-moz-box-shadow: inset 0px -10px 20px -10px rgba(0,0,0,0.4);
	box-shadow: inset 0px -10px 20px -10px rgba(0,0,0,0.4);
}

.logo{
	background: url(../imgs/logo-branco.png);
	width: 251px;
	height: 73px;
	margin: 0 auto;
}

/* END HEADER */

/* FOOTER */

footer{
	border-top: 1px solid #e0e0e0;
	padding-top: 20px;
}

.footer-wrapper{
	width: 300px;
	margin: 0 auto 20px;
}

footer span{
	background: url(../imgs/logo-menor.png);
	display: block;
	width: 59px;
	height: 33px;
}

footer .logo-wrapper{
	display: inline-block;
	vertical-align: middle;
}

footer .txt{
	display: inline-block;
	vertical-align: middle;
	margin-left: 20px;	
}

footer p, footer a{
	color: #9c9c9c;
	font-size: 14px;
}

footer a{
	text-decoration: none;
	margin-top: 10px;
	display: block;
}

/* END FOOTER */

/* LIGHTBOX */

.lightbox{
	z-index: 99999;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.dark{
	display: none;
	position: fixed;
	height: 100%;
	width: 100%;
	z-index: 99999;
	opacity: 0.8;
	background: #000;
}


.fechar{
	display: block;
    position: absolute;
    top: -30px;
    left: 98.6%;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
}
.lightbox-wrapper{
	display: none;
	width: 80%;
	background: #fff;
	height: auto;
	position: absolute;
	z-index: 99999;
	top: 100px;
	margin-left: 59%;
	left: -50%;
	padding: 20px;
}

.lightbox-wrapper h2{
    margin: 10px auto 30px;
    text-align: center;
    font-size: 20px;
    color: #666;
}

.lightbox p{
	margin-bottom: 15px;
	color: #3d3d3d;
}
/* LIGHTBOX END */

/* HOME */

.home{
	padding-top: 60px;
	text-align: center;
}

.home-wrapper{
	max-width: 1024px;
    margin: 0 auto;
}

.home h2{
	font-family: 'roboto';
	font-size: 24px;
	color: #003333;
	padding-bottom: 15px;
	border-bottom: 1px solid #e0e0e0;
	width: 333px;
	margin: 0 auto 60px;
}

.menu li{
	margin-bottom: 90px;
	text-decoration: none;
}

.menu li a{ 
	text-decoration: none; 
	cursor: pointer;
	height: auto;
    display: block;
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
}

.bola-comunicados{background: url(../imgs/bola-comunicados.png); transition: background .8s; -webkit-transitions: background .8s; width: 166px; height: 167px; display: block; margin: 0 auto;}
.bola-supply{background: url(../imgs/bola-supply.png); transition: background .8s; -webkit-transitions: background .8s; width: 166px; height: 167px; display: block; margin: 0 auto;}
.bola-financeiro{background: url(../imgs/bola-financeiro.png); transition: background .8s; -webkit-transitions: background .8s; width: 166px; height: 167px; display: block; margin: 0 auto;}

.menu li h3{
	font-family: 'roboto';
	font-size: 26px;
	color: #003333;
	margin: 35px 0 40px;
}

.menu li p{
	font-size: 15px;
	color: #000;
}

/* END HOME */

/* LOGIN */
.box{
	position: relative;
	width: 80%;
	max-width: 700px;
	background: #fff; 
	padding: 25px 0 35px;
	min-height: 370px;
	margin: 70px auto;
	-webkit-box-shadow: 0px 4px 5px 2px rgba(0,0,0,0.09);
	-moz-box-shadow: 0px 4px 5px 2px rgba(0,0,0,0.09);
	box-shadow: 0px 4px 5px 2px rgba(0,0,0,0.09);
	overflow: hidden;
}

.box h2{
	font-size: 28px;
	color: #9e9e9e;
	font-family: 'roboto';
	margin-bottom: 35px;
	text-align: center;
}

.box .subtitulo{text-align: center; font-size: 16px; margin-bottom: 45px;}

.fornecedor, .viavarejo, .escolha{width: 100%; position: absolute;}
.fornecedor, .viavarejo{ opacity: 0; display: none;}
.fornecedor{
	margin-bottom: 20px;
}

.seta{
	background: url(../imgs/seta.png);
	width: 10px;
	height: 20px;
	display: block;
	position: absolute;
	top: -60px;
    left: 100px;
}

.bot{
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	display: block;
	width: 75%;
	height: 60px;
	margin: 0 auto 30px;
	text-align: center;
	color: #fff;
	font-size: 16px;
	text-decoration: none;
	text-transform: uppercase;
	-webkit-transition: background-color .8s; /* Safari 3.1 to 6.0 */
    transition: background-color .8s;
    cursor: pointer;
    border: 0;
}
.bot-interno{
	padding: 23px 0 0;
    height: 37px;
}
input.bot{font-size: 14px;}

.icon{
	display: inline-block;
	vertical-align: bottom;
	margin-right: 5%;
}

.caixa-icone{background: url(../imgs/icone-caixa.png); width: 25px; height: 28px; margin-top: 13px;}
.viavarejo-icone{background: url(../imgs/icone-viavarejo.png); width: 51px; height: 23px; margin-top: 17px;}
.user-icone{background: url(../imgs/icone-user.png); width: 44px; height: 45px; margin: 0 20px 30px 0; display: inline-block; vertical-align: middle;}
.pass-icone{background: url(../imgs/icone-pass.png); width: 44px; height: 45px; margin: 0 20px 30px 0; display: inline-block; vertical-align: middle;}
.mala-icone{background: url(../imgs/icone-empresa.png); width: 44px; height: 45px; margin: 0 20px 30px 0; display: inline-block; vertical-align: middle;}

.bot-fornecedor, input.bot{background: #33883f;}
.bot-viavarejo{background: #45a94f;}
.bot-acesso{background: #b4b5b4}

p.menor{
	width: 80%;
    margin: 55px auto 0;
    text-align: center;
    font-size: 14px;
    color: #9e9e9e;
}

p.menor a{
	color: #666;
	font-family: 'source_semibold';
	text-decoration: none;
	-webkit-transition: color .8s; /* Safari 3.1 to 6.0 */
    transition: color .8s;
}

form{
	width: 75%;
    margin: 0 auto;
}

.campo{
	display: inline-block;
    vertical-align: middle;
    margin-bottom: 30px;
    width: 67%;
    padding: 0 0 10px 10px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    font-size: 16px;
    color: #666;
}
/* END LOGIN */

/* RESPONSIVE */

@media screen and (max-width: 500px) {
	.lightbox-wrapper{
		margin-left: 55%;
    	left: -48%;
	}
}

@media screen and (max-width: 768px) {
	.lightbox-wrapper{
		margin-left: 55%;
    	left: -50%;
	}
}

@media screen and (min-width: 768px) {

	.campo{width: 82%;}
	.bola-comunicados:hover{background: url(../imgs/bola-comunicados_hover.png);}
	.bola-supply:hover{background: url(../imgs/bola-supply_hover.png);}
	.bola-financeiro:hover{background: url(../imgs/bola-financeiro_hover.png);}

}

@media screen and (min-width: 900px) {
	header{
		background: url(../imgs/header-bg_maior.png) #33883f no-repeat;
	}

	.logo{
		margin-left: 70px;
		background: url(../imgs/logo-verde.png);
	}

	footer{
		width: 83%;
		margin: 0 auto;
	}

	.footer-wrapper{width: 100%;}
	
	footer .logo-wrapper{width: 50%;}

	footer .txt{
		    text-align: right;
    		margin: 0;
    		width: 49.5%;
	}

	footer p, footer a{ display: inline-block; text-align: right;}

	footer p{margin-right: 20px}

	.bot-fornecedor:hover{background: #1d5025;}

	.bot-viavarejo:hover{background: #286a31;}

	.bot-acesso:hover{background: #666}

	p.menor a:hover{color: #000;}

	.lightbox-wrapper{
		width: 760px;
		margin-left: 50%;
    	left: -380px;
	}


}

@media screen and (min-width: 1023px) {
	

	.menu li{
		display: inline-block;
	    vertical-align: top;
	    margin: 0 4%;
	}

	.home h2{
		width: 90%;
    	text-align: left;
	}

	footer{
		margin: 50px auto 0;
		max-width: 1024px;
	}

	
}

@media screen and (min-width: 1023px) and (min-height: 768px){
	
	.home{
		margin-bottom: 4%;
	}

	footer{
		position: absolute;
		bottom: 0;
		left: 50%;
		margin-left: -512px;
	}
}




